# Ignore everything but .gitignore by default, and whitelist as needed
*
!.gitignore

# Docs
!README.*

# Flake
!./flake.nix
!./flake.lock

# Project config
!.luarc.json
!.nixd.json
!.nvim.lua

# NixOS user configuration
!home/
!home/**/
!home/**/*.lua
!home/**/*.nix
!home/**/*.zsh

# NixOS system configuration
!system/
!system/**/*.nix

# My custom overlays
!overlays/
!overlays/**/*.nix

# Nix flake templates
!templates/
!templates/**/
!templates/python/**/flake.nix
!templates/python/**/flake.lock
!templates/python/**/pyproject.toml
!templates/python/**/poetry.lock
!templates/latex/flake.nix
!templates/latex/flake.lock
!templates/latex/*.tex
!templates/latex/.latexmkrc
